/* ページネーション */
div.pagination{
  font-size: 75%;
  padding: 4px 8px;
  border: 1px solid #449;
  word-spacing: 4px;

  em{ font-style: normal;}
  em.current{
    color: #449;
    font-weight: bold;
  }
}
